#window{
  display:flex;
  flex-direction:column;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
#mainbar{
  height:28px;
  display:flex;
  flex-direction:row;
  align-items: stretch;
  -webkit-app-region: drag;
  background-color:#ebebeb;
  border-bottom:1px solid #bebebe;
}
#tabs{
  display:flex;
  flex-direction:row;
  flex:1 0 auto;
  padding:0 5px;
  max-width:100%;
  align-items:center;
}
.tab{
  flex:1;
  max-width:180px;
  -webkit-app-region: no-drag;
  border-radius:7px;
  padding:0 13px 0 3px;
  background-color:#cecece;
  border:2px solid #f0f0f0;
  overflow:hidden;
  text-align:center;
  white-space: nowrap;
  text-overflow:ellipsis;
  transition: all 0.7s;
}
.tab:hover{
  z-index:100;
}
.tab.hide{
  max-width:0;
  padding:0;
}

#control{
  transition:height .5s;
  height:0;
  width:100%;
  background-color:#000;
  color:#fff;
}
#control:active{
  height:12px;
}

#editor{
  flex:1 0 auto;
}