#window{
  display:flex;
  flex-direction:column;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
}
#mainbar{
  height:28px;
  display:flex;
  flex-direction:row;
  -webkit-app-region: drag;
  background-color:#aaaaaa;
  border-bottom:1px solid #000;
  padding:0 10px;
}
#tab-container{
  display:flex;
  flex-direction:row;
  flex:1 0 auto;
  max-width:100%;
  align-items:stretch;
  margin:0;
  padding:0;
}
.tab{
  display:flex;
  align-items:center;
  flex:1;
  max-width:198px;
  -webkit-app-region: no-drag;
  border-radius:8px 8px 0 0;
  background-color:#efefef;
  transition: max-width 0.7s ease;
  margin:1px 1px 0 1px;
  opacity:.3;
}
.tab.active{
  opacity:1;
}

.tab.hide{
  max-width:0;
}

.tab .name{
  flex:1;
  font-size: 14px;
  text-align:left;
  margin-left:10px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow:ellipsis;
}

.tab .close{
  width:15px;
  height:15px;
  margin-right:5px;
  background:url(./images/close.svg) center;
  background-size:15px;
  opacity:.5;
}

#control{
  transition:height .5s;
  height:0;
  width:100%;
  background-color:#000;
  color:#fff;
}
#control.active{
  height:12px;
}

#editor{
  flex:1 0 auto;
}